* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #fff0ac;
}

body {
  background-color: #0e100f;
}

.navbar {
  clear: both;
  border-bottom: 1px solid rgb(50 50 40);
  padding: 5px 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.name {
  float: left;
  font-size: 40px;
}

.navbar-group {
  font-size: 40px;
  float: right;
  a {
    text-decoration: none;
    margin: 0 5px;
    &:hover {
      color: #1081fb;
      text-decoration: underline;
    }
  }
}

/* Main Content */

.projects {
  margin: 50px 0 0 40px;
  font-family: "Roboto";
}

.main-title {
  border-bottom: 1px solid rgb(50 50 40);
  font-size: 60px;
}

li {
  list-style: none;
}

.project {
  margin: 20px 40px;
}

.project-title {
  display: inline-block;
  font-size: 20px;
  &:last-of-type {
    text-decoration: underline dashed;
  }
}
