* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  background-color: #f4f4f4;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
}
